body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
}

/* =================
Typography
================= */

h1,
h2 {
  font-weight: 400;
  color: #00614b;
  margin-top: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: #0cae88;
}

a:hover,
a:focus {
  color: #034f3d;
}

strong {
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

/* =================
Layout
================= */

.logo-image {
  width: 40%;
  object-fit: cover;
  margin-inline: auto;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1em 0;
  text-align: center;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  font-size: 1rem;
  padding: 2em 0;
}

/* =================
Table
================= */

table {
  table-layout: fixed;
  border: 2px solid;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 80%;
}

th,
td {
  border: 1px solid;
  padding: 10px;
}

tbody td {
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3),
tr th:nth-child(4),
tr td:nth-child(4) {
  display: none;
}

@media (min-width: 675px) {
  body {
    font-size: 1.125rem;
  }

  .logo-image {
    width: 30%;
  }

  thead th:nth-child(1) {
    width: 15%;
  }

  thead th:nth-child(2) {
    width: 50%;
  }

  thead th:nth-child(3) {
    width: 20%;
  }

  thead th:nth-child(4) {
    width: 15%;
  }

  tr th:nth-child(3),
  tr td:nth-child(3),
  tr th:nth-child(4),
  tr td:nth-child(4) {
    display: table-cell;
  }
}

/*** Button ***/
#scroll-to-date {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-transition: bottom .2s,opacity .2s;
  -o-transition: bottom .2s,opacity .2s;
  -moz-transition: bottom .2s,opacity .2s;
  transition: bottom .2s,opacity .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.svg{
  /*** picture positioning ***/
  position: relative;
  bottom: 48px;
  right: -15px;
  height: 50%;
}

/*** Animation ***/
tr.active{
  color: white;
  background-color: #0cae88;
}
.active>td>a{
  color: white;
}

/*** button shift between active and hidden ***/
div.active{
  background: #0cae88;
  color: white;
  cursor: pointer;
  display: block;
  height: 56px;
  width: 56px;
  z-index: 1;
  opacity: 1;
  outline: 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
div.hidden{
  display: none;
}