body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
}

/* =================
Typography
================= */

h1,
h2 {
  font-weight: 400;
  color: #034f3d;
  margin-top: 0;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

a {
  color: #0cae88;
}

a:hover,
a:focus {
  color: #034f3d;
}

strong {
  font-weight: 700;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

/* =================
Layout
================= */

.logo-image {
  width: 40%;
  object-fit: cover;
  margin-inline: auto;
}

.container {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1em 0;
  text-align: center;
  margin-bottom: 1em;
}

footer {
  text-align: center;
  font-size: 1rem;
  padding: 2em 0;
  background-color: #034f3d;
  color: white;
  margin-top: 3em;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15rem;
}

/* =================
Table
================= */

table {
  table-layout: fixed;
  border: 2px solid rgba(3, 79, 61, 0.7);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 80%;
}

th,
td {
  border-bottom: 1px solid #0cae88;
  padding: 10px;
}

tbody td {
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3),
tr th:nth-child(4),
tr td:nth-child(4) {
  display: none;
}

@media (min-width: 675px) {
  body {
    font-size: 1.125rem;
  }

  .logo-image {
    width: 30%;
  }

  thead th:nth-child(1) {
    width: 15%;
  }

  thead th:nth-child(2) {
    width: 50%;
  }

  thead th:nth-child(3) {
    width: 20%;
  }

  thead th:nth-child(4) {
    width: 15%;
  }

  tr th:nth-child(3),
  tr td:nth-child(3),
  tr th:nth-child(4),
  tr td:nth-child(4) {
    display: table-cell;
  }
}

@media (max-width: 1000px) {
  #header-container {
    flex-direction: column;
    margin-left: 0;
  }
}
