body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6;
  min-height: 100vh;
}

/* =================
Typography
================= */
html {
  scroll-behavior: smooth;
}

h1 {
  color: #fff;
  font-size: 26px;
}
h2 {
  font-weight: 400;
  color: #00614b;
  margin-top: 0;
}

a {
  color: #0cae88;
}

a:hover,
a:focus {
  color: #034f3d;
}

strong {
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
}

/* =================
Layout
================= */
.header-logo {
  text-align: center;
}

.logo-image {
  max-width: 40%;
  object-fit: contain;
}

.logo-image:hover {
  transform: scale(1.1);
}

.container {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 1rem;
  padding: 2em 0;
  background-color: #034f3d;
  color: white;
  margin-top: 3em;
}

.quote {
  font-style: italic;
  font-family: cursive;
  font-size: 1rem;
  color: #0cae88;
  text-align: center;
  padding: 0.75em;
}

/* Navbar container */
.navbar {
  height: 150px;
  overflow: hidden;
  background-color: rgb(0,103,81);
  font-family: sans-serif;
}

.navbar a {
  float: right;
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-centered{
  color:#f9f9f9;
  float: none;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navbar-right{
  float: right;
}
@media screen and (max-width: 600px) {
  .navbar {
    float: none;
    display: block;
    height: 200px;
  }

  .navbar-right{
    display: none;
  }

  .navbar-centered {
    font-size: 10px;
    position: absolute;
    left: 10px;
    transform: none;
  }
  .dropdown .dropbtn {
    font-size: 12px;
  }
}
@media (max-width: 1000px){
  .navbar-right{
    display: none;
  }
  .navbar-centered{
    top: 7%;
  }
}
/* =================
Table
================= */

table {
  table-layout: fixed;
  border: 2px solid rgba(3, 79, 61, 0.7);
  box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3); 
  border-radius: 10px;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 80%;
}

th,
td {
  border-bottom: 1px solid #0cae88;
  padding: 10px;
}

tbody td {
  text-align: center;
}

tr th:nth-child(3),
tr td:nth-child(3),
tr th:nth-child(4),
tr td:nth-child(4) {
  display: none;
}

@media (min-width: 675px) {
  body {
    font-size: 1.125rem;
  }

  thead th:nth-child(1) {
    width: 15%;
  }

  thead th:nth-child(2) {
    width: 50%;
  }

  thead th:nth-child(3) {
    width: 20%;
  }

  thead th:nth-child(4) {
    width: 15%;
  }

  tr th:nth-child(3),
  tr td:nth-child(3),
  tr th:nth-child(4),
  tr td:nth-child(4) {
    display: table-cell;
  }
}
